deepagents
langchain_community
langchain-huggingface
sentence-transformers
langchain
langchain-openai
langgraph
tavily-python
pydantic
beautifulsoup4
requests
faiss-cpu
boto3
python-dotenv
pypdf
langchain-text-splitters